$primary-button-bg: #6432d8;
$primary-button-darken-value: 20;

body {
  font-size: 16px;
  .movie-btn {
    .btn-primary {
      background-color: $primary-button-bg;
      border-color: $primary-button-bg;
      min-width: 200px;
      line-height: 40px;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 2px;
      text-transform: uppercase;
      cursor: pointer !important;
      padding: 10px 15px;
      border-radius: 0.3rem !important;
      &:hover {
        border: 1px solid
          darken(
            $color: $primary-button-bg,
            $amount: $primary-button-darken-value
          ) !important;
        background-color: darken(
          $color: $primary-button-bg,
          $amount: $primary-button-darken-value
        );
      }
    }
  }
}
