@import "./global.scss";

header {
  height: 14vh;
  #logo {
    margin-right: 30px;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      a {
        line-height: 22px;
        font-weight: 400;
        font-size: 17px;
        letter-spacing: 0.075px;
        color: #888;
        margin-right: 35px;
        text-decoration: none;
        &:hover {
          color: darken($color: #888, $amount: 20);
        }
      }
    }
  }
  .circle {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    border: 1px solid red;
  }
  .nav-right {
    height: 14vh;
  }
}

.movie-info {
  border-radius: 8px;
  .movi-desc {
    background-color: black;
    margin: 0;
    padding: 0;
    border-radius: 8px;
    video {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      border-radius: 8px;
    }
  }
}
